#removing the cases dir for now, not proper examples of lib usage and quite heavy in format
/Cases/
/.idea/
/Vengine/testing_suite.py
.DS_Store
# Python 
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.classpath


.project
.settings
.idea
.metadata
*.iml
*.ipr